<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library - Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>

    <div class="window">

        <div class="title-bar">

            <a th:href="@{/}" class="back-button">
                &lt;
            </a>

            <div class="title"></div>

        </div>

        <div class="content">

            <div class="header">

                <h1>
                    Library
                </h1>

            </div>

            <div th:if="${successMessage}" class="message">
                <span th:text="${successMessage}"></span>
            </div>

            <div th:if="${param.error}" class="message error-message">
                <span>
                    INVALID LOGIN
                </span>
            </div>

            <form th:action="@{/login}" method="post">

                <div class="form-group">

                    <label for="username">
                        USERNAME
                    </label>

                    <input type="text" id="username" name="username" autocomplete="username" required>

                </div>

                <div class="form-group">

                    <label for="password">
                        PASSWORD
                    </label>

                    <input type="password" id="password" name="password" autocomplete="current-password" required>

                </div>

                <button type="submit" class="login-button">
                    LOG IN
                </button>

            </form>

            <div class="signup">

                <div>
                    Don't have an account?
                </div>

                <br>

                <a th:href="@{/signup}">
                    CREATE NEW ACCOUNT
                </a>

            </div>

        </div>

    </div>

</body>

</html>